.grid{
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.grid div:hover{
    border: solid 1px darkcyan;
}
.detalle{
    display: grid;
    grid-template-columns: 100%;
}
td{
    padding: 0.5rem;
    border: 0.1px solid darkcyan;
}
